.inline-form {
    display: inline-block;
}
#main-content .panel > .panel-heading > h3 {
    margin: 4px 0;
}
#select-image-results .option {
    cursor: pointer;
}

#select-image-results .selected {
    background-color: #AAA;
    border: 1px solid #444;
}
.filter-form {
    border: 1px solid #888;
    background-color: #AAA;
}
