.inline-form {
    display: inline-block;
}
.sm-image {
    max-width: 32px;
    max-height: 18px;
}
.md-image {
    max-width: 160px;
    max-height: 90px;
}
.lg-image {
    max-width: 640px;
    max-height: 360px;
}
#main-content .panel > .panel-heading > h2 {
    margin: 4px 0px;
}