.footer {
    background-color: #E74944;
    color: #FFF;
    padding: 20px;
}
.nav-footer a {
    color: #FFF;
}
.nav-footer a:hover {
    color: #E74944;
}
.article-title {
    margin: 0;
    font-size: 20px;
}
.main-heading {
    margin-top: 0;
    font-size: 32px;
}
.sm-image {
    max-width: 32px !important;
    margin-right: 10px;
}
.md-image {
    max-width: 64px !important;
    margin-right: 10px;
}
.main-article-image > img {
    max-width: 800px;
    max-height: 450px;
}
.article-description {
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}
.article-content {
    padding: 10px;
    font-size: 16px;
}
ul.article-tags {
    border: none;
}
ul.article-tags > li > a {
    padding: 5px 10px;
    color: #fff;
    background-color: #EB6864;
}
ul.article-tags > li > a:hover {
    color: #EB6864;
}
.like-dislike-btns {
    padding: 0;
}
.like-dislike-btns > button:hover {
    padding: 0;
    background-color: #E74944;
    color: #F0F0F0;
}
.article-comments {
    margin-top: 15px;
}
.article-comment {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.login-btn, .register-btn, .profile-btn {
    font-size: 14px;
}
.navbar-brand {
    padding: 10px 15px;
}
.navbar-brand > img {
    max-width: 200px;
    max-height: 40px;
}
